<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/base.css"> -->
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <ul id = "menu">
            <li id = "Logout"><a href="">Logout</a></li>
        </ul>
    </div>
    <div class="body">
        <div class="container1">
            <div class="wrapper">
                <section class="post">
                    <header>Write Suggestion</header>
                    <form action="#">
                        <div class="content">
                            <img src="images/noavatar.jpg" alt="Profile" style="border-radius: 50%;">
                            <div class="details">
                                <p>User</p>
                            </div>
                        </div>
                        <textarea placeholder="What's on your mind, User?" required></textarea>
                        <button>Post</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
    
    <div class="body">
        <div class="container1">
            <div class="wrapper">
                <section class="post">
                    <header>Write Suggestion</header>
                    <!-- <form action="#">
                        </div>
                        <textarea placeholder="What's on your mind, User?" required></textarea>
                        <button>Post</button>
                    </form> -->
                    <table id="myTable">
                        <tr>
                            <th>Suggestions Made</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </table>
                </section>
            </div>
        </div>
    </div>
    <div class="container1">
        <!-- <h3>Suggestions Made</h3> -->
        <table id="myTable">
            <tr>
                <th>Suggestions Made</th>
                <!-- <th>Course Name</th> -->
                <th></th>
                <th></th>
                </tr>
            </table>
        </div>
</body>
</html>